# SQL Business Questions

In [1]:
%%capture
%load_ext sql
%sql sqlite:///chinook.db

'Connected: None@chinook.db'

## View of database

In [7]:
%%sql
SELECT
    name
    type
FROM sqlite_master
WHERE type IN ('table','view');

Done.

[('album',),
 ('artist',),
 ('customer',),
 ('employee',),
 ('genre',),
 ('invoice',),
 ('invoice_line',),
 ('media_type',),
 ('playlist',),
 ('playlist_track',),
 ('track',)]

In [ ]:
%%sql
SELECT
    customer_id,
    country